<#include "../include/header.html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<!--引入下拉列表的数据源-->
<script src="${base.contextPath}/common/code?orderStatusObj=HAP_OM_ORDER_STATUS" type="text/javascript"></script>

<!--引入权限控制配置维护-->
<script src="${base.contextPath}/common/profile?submitObj=HAP_OM_ORDER_SUBMIT_CTL" type="text/javascript"></script>
<script src="${base.contextPath}/common/profile?approveObj=HAP_ OM_ORDER_APPROVE_CTL" type="text/javascript"></script>

<!--PDF打印插件引用-->
<script type="text/javascript">
    document.write('<script src="${base.contextPath}/resources/js/printjs/jQuery.print.js"\>\<\/script>');
</script>

<script type="text/javascript">
    //获取订单头信息,如果为空置0
    var headerId = "${RequestParameters.headerId!0}";
    //alert(headerId);

    var viewModel = Hap.createGridViewModel("#grid",{
        //保存头行信息
        saveOrderHeaderAndLines:function () {
            //console.log(viewModel.model);
            var validator = $("#salesHeader").kendoValidator().data("kendoValidator");
            if (validator) {
                //判断是更新还是新建
                viewModel.model.__status = headerId ? 'update' : 'add';

                //提交表单
                Hap.submitForm({
                    url: '${base.contextPath}/hap/om/order/headers/submit',
                    formModel: viewModel.model,
                    grid: {"orderLines": $("#grid")},
                    success: function (result) {
                        //console.log(result);
                        if (result.success) {
                            //重新读取行信息
                            document.location.reload()
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                    }
                });
            }else {
                Hap.showToast({
                    type: "error",
                    message: '<@spring.message "order.error"/>'
                });
            }
        },

        //提交订单
        submitOrder:function(){
            if ($("#submitBtn").attr("disabled") != "disabled"){
                viewModel.model.set("orderStatus", "SUBMITED");
                Hap.submitForm({
                    url: '${base.contextPath}/hap/om/order/headers/submit',
                    formModel: viewModel.model,
                    grid: {"orderLines": $("#grid")},
                    success: function (data) {
                        if (data.success) {
                            if (!headerId || headerId == 0) {
                                headerId = data.rows[0].headerId;
                            }
                            document.location.reload()
                            $("#grid").data("kendoGrid").dataSource.read();
                        }
                        //改变按钮状态
                        changeBtnStatus();
                    }
                });
            }
        },

        //审批订单
        approvalOrder: function () {
            if ($("#approvalBtn").attr("disabled") != "disabled") {
                viewModel.model.set("orderStatus", "APPROVED");
                Hap.submitForm({
                    url: '${base.contextPath}/hap/om/order/headers/submit',
                    formModel: viewModel.model,
                    grid: {"orderLines": $("#grid")},
                    success: function (data) {
                        if (data.success) {
                            if (!headerId || headerId == 0) {
                                headerId = data.rows[0].headerId;
                            }

                            document.location.reload()
                            $('#grid').data('kendoGrid').dataSource.read();
                        }
                        changeBtnStatus();
                    }
                });

            }
        },

        //拒绝订单
        rejectOrder: function () {
            if ($("#rejectBtn").attr("disabled") != "disabled") {
                viewModel.model.set("orderStatus", "REJECTED");
                var validator = $("#salesHeader").kendoValidator().data("kendoValidator");
                if (validator) {
                    Hap.submitForm({
                        url: '${base.contextPath}/hap/om/order/headers/submit',
                        formModel: viewModel.model,
                        grid: {"orderLines": $("#grid")},
                        success: function (data) {
                            if (data.success) {
                                if (!headerId || headerId == 0) {
                                    headerId = data.rows[0].headerId;
                                }

                                document.location.reload()
                                $('#grid').data('kendoGrid').dataSource.read();
                            }
                            changeBtnStatus();
                        }
                    });
                } else {
                    Hap.showToast({
                        type: "error",
                        message: '<@spring.message "order.error"/>'
                    });
                }
            }
        },

        //删除订单
        deleteAllOrder: function () {
            if ($("#deleteBtn").attr("disabled") != "disabled") {
                //删除弹出选择窗口
                kendo.ui.showConfirmDialog({
                    title:$l('hap.tip.info'),
                    message: $l('hap.tip.delete_confirm')
                }).done(function (event) {
                    //确定
                    if (event.button == 'OK') {
                        Hap.submitForm({
                            url: '${base.contextPath}/hap/om/order/headers/deleteOrderHeaderAndLines',
                            formModel: viewModel.model,
                            grid: {"orderLines": $("#grid")},
                            success: function (result) {
                                if (result.success) {
                                    //跳转回订单汇总查询
                                    $(location).attr('href', 'sales_query.html');
                                }
                            }
                        });
                    }
                })

            }
        },


        //单据导出PDF打印
        exportPdf:function () {
            $("#grid2").show().addClass("no");
            $("#grid2").data('kendoGrid').saveAsPDF();
            $("#grid2").hide().removeClass("no");
        },

        //返回按钮
        back:function () {
            $(location).attr('href', 'sales_query.html');
        }

    });

    viewModel.set("headerId",headerId);


    //新建状态
    /*if (headerId ==0){
        viewModel.model.set("orderDate", new Date());
        viewModel.model.set("orderStatus", "NEW");

        $("#submitBtn").attr("disabled", "disabled");
    }*/
</script>
<body>

<!--销售订单明细页面-->

<!--订单信息部分-->
<div id="salesOrderAll">
    <div class="container">
        <div id="salesHeader">
            <!--第一行信息开始-->
            <div  class="row" style="margin-top: 30px">
                <div id="firstRow">
                    <!--订单编号-->
                    <div class="col-md-4">
                        <label><@spring.message "omorderheaders.ordernumber"/></label>
                        <input id="order_number_input" readonly="readonly" data-bind="value: model.orderNumber" required  data-value-primitive="true"/>
                    </div>

                    <!--公司名称-->
                    <div class="col-md-4">
                        <label><@spring.message "orgcompanys.companyname"/></label>
                        <input id="company_name_input" data-value-primitive="true" data-bind="value: model.companyId" />
                    </div>

                    <!--客户名称-->
                    <div class="col-md-4">
                        <label><@spring.message "arcustomers.customername"/></label>
                        <input id="customer_name_input" data-value-primitive="true" data-bind="value: model.customerId " />
                    </div>
                </div>

                <script>
                    /*加载公司名称信息LOV*/
                    $("#company_name_input").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "HAP_ORG_COMPANYS")},{
                        select:function(e){
                            viewModel.model.set('companyName', e.item.companyName);
                            viewModel.model.set('customerName', "");
                        },
                        change:function () {
                            $("#customer_name_input").data("kendoLov").text("");
                        }
                    }));

                    //加载客户名称LOV
                    $("#customer_name_input").kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "HAP_AR_CUSTOMERS")},{
                        query:function(e){
                            e.param['companyId'] = $("#company_name_input").val();//传入限制参数
                        },
                        select:function(e){
                            viewModel.model.set('customerName', e.item.customerName);
                        },
                        change:function () {}
                    }));
                </script>
            </div>


            <!--第二行信息开始-->
            <div id="secondRow" class="row" style="margin-top: 20px">
                <!--订单日期-->
                <div class="col-md-4">
                    <label><@spring.message "omorderheaders.orderdate"/></label>
                    <input id="order_date_input" data-value-primitive="true" data-bind="value:model.orderDate" />
                </div>

                <!--订单总金额-->
                <div class="col-md-4">
                    <label><@spring.message "omorderlines.orderamount"/></label>
                    <input id="total_input" style="background:#F0F8FF" readonly="readonly"
                           data-bind="value:model.orderTotal" type="text" class="k-textbox">
                </div>

                <!--订单状态-->
                <div class="col-md-4">
                    <label><@spring.message "omorderheaders.orderstatus"/></label>
                    <input id="order_status_input" data-bind="value: model.orderStatus" data-value-primitive="true"/>
                </div>
            </div>

            <script type="text/javascript">
                // 加载订单状态的下拉框
                $("#order_status_input").kendoComboBox({
                    valuePrimitive: true,
                    dataTextField: "meaning",
                    dataValueField: "value",
                    dataSource: orderStatusObj
                });

                // 加载订单的日期选择器
                $("#order_date_input").kendoDatePicker({
                    min: new Date(2016, 0, 1),
                    format: "{0:yyyy-MM-dd}"
                }).data("kendoDatePicker");
            </script>
        </div>
    </div>

    <!--第三行按钮部分-->
    <div id="page-content" id="thirdRow">
        <!--七个按钮部分-->
        <div class="pull-left" id="toolbar-btn" style="padding-bottom:20px;margin: 15px 30px 0px 20px">

            <!--保存按钮-->
            <span id="saveBtn" class="btn btn-default" data-bind="click:saveOrderHeaderAndLines" style="float:left;margin-right:5px;">
                <@spring.message "hap.save"/>
            </span>

            <!--提交按钮-->
            <span id="submitBtn" data-bind="click:submitOrder" class="btn btn-default" style="float:left;margin-right:10px;">
                <@spring.message "hap.submit"/>
            </span>

            <!--审批按钮-->
            <span id="approvalBtn" data-bind="click:approvalOrder" class="btn btn-default" style="float:left;margin-right:10px;">
                <@spring.message "order.approve"/>
            </span>

            <!--拒绝按钮-->
            <span id="rejectBtn" data-bind="click:rejectOrder" class="btn btn-default " style="float:left;margin-right:10px;">
                <@spring.message "order.reject"/>
            </span>

            <!--整单删除 按钮-->
            <span id="deleteBtn" data-bind="click:deleteAllOrder" class="btn btn-default" style="float:left;margin-right:10px;">
                <@spring.message "order.deleteAll"/>
            </span>

            <!--单据打印按钮-->
            <span id="exportBtn" data-bind="click:exportPdf" class="btn btn-default" style="float:left;margin-right:10px;">
                <@spring.message "order.exportOrder"/>
            </span>

            <!--返回按钮-->
            <span id="backBtn" data-bind="click:back" class="btn btn-default" style="float:left;margin-right:10px;">
                <@spring.message "hap.back"/>
            </span>
        </div>

        <!--组件绑定-->
        <script>
            kendo.bind($('#toolbar-btn'), viewModel);
            kendo.bind($('#firstRow'), viewModel);
            kendo.bind($('#secondRow'), viewModel);
        </script>
    </div>
    <br><br><br>

    <!-- 两个tab页的标签 -->
    <div id="tabstrip" style="margin-left: 20px">
        <ul>
            <!--主要选项卡-->
            <li class="k-state-active">
                <@spring.message "order.main"/>
            </li>

            <!--其他选项卡-->
            <li role="presentation">
                <@spring.message "order.other"/>
            </li>
        </ul>

        <!-- Tab panes -->
        <div>
            <div id="grid">
                <!--新建 删除 按钮实现-->
                <div style="margin: 10px 10px 10px 10px" id="main">
                    <span class="btn btn-default" data-bind="click:create"><@spring.message "hap.new"/></span>
                    <span class="btn btn-danger" style="margin-left: 20px"  data-bind="click:remove"><@spring.message "hap.delete"/></span>
                </div>
            </div>
        </div>
        <div>
            <div id="otherInfo">
                <!--新建 删除按钮实现-->
                <div style="margin: 10px 10px 10px 10px" id="oth">
                    <span class="btn btn-default" data-bind="click:create"><@spring.message "hap.new"/></span>
                    <span class="btn btn-danger" style="margin-left: 20px"  data-bind="click:remove"><@spring.message "hap.delete"/></span>
                </div>

                <script>
                    kendo.bind($("#main"),viewModel);
                    kendo.bind($("#oth"),viewModel);
                </script>
            </div>
        </div>

        <!--切换加载tab-->
        <script>
            $("#tabstrip").kendoTabStrip({
                animation:  {
                    open: {effects: "fadeIn"}
                }
            });
        </script>
    </div>
</div>


<script type="text/javascript">
    Hap.initEnterQuery('#query-form', viewModel.query);
    var BaseUrl = _basePath;
    dataSource = new kendo.data.DataSource({
        transport: {
            read: {
                //根据订单头查询对应的订单行
                url: BaseUrl + "/hap/om/order/lines/query?headerId="+headerId,
                type: "POST",
                dataType: "json",
                contentType: "application/json"
            },
            update: {
                url: BaseUrl + "/hap/om/order/lines/submit",
                type: "POST",
                contentType: "application/json"
            },
            destroy: {
                url: BaseUrl + "/hap/om/order/lines/remove",
                type: "POST",
                contentType: "application/json"
            },
            create: {
                url: BaseUrl + "/hap/om/order/lines/submit",
                type: "POST",
                contentType: "application/jsons"
            },
            parameterMap: function (options, type) {
                if (type !== "read" && options.models) {
                    var datas = Hap.prepareSubmitParameter(options, type)
                    return kendo.stringify(datas);
                } else if (type === "read") {
                    return Hap.prepareQueryParameter(viewModel.model.toJSON(), options)
                }
            }
        },
        batch: true,
        serverPaging: true,
        pageSize: 10,
        schema: {
            data: 'rows',
            total: 'total',
            model: {
                id: "lineId",
                fields: {
                    description: {validation: {required: true}},
                    inventoryItemId: {validation: {required: true}},
                    //订单数量不能为负数
                    orderQuantity:{
                        type: "number",
                        validation: {
                            required: true,
                            min: 1,
                            //大于
                            moreThanZero: function (item) {
                                var itemValue = item.val();
                                //正则表达式规定正整数
                                var r1 = /^[0-9]*[1-9][0-9]*$/;　
                                if (r1.test(itemValue)) {
                                    return true;
                                } else {
                                    Hap.showToast({
                                        type: "error",
                                        message: '<@spring.message "orderdQuantityMoreThanZero"/>'
                                    });
                                    return false;
                                }
                            }
                        }
                    },
                    //销售单价,不能为负数
                    unitSellingPrice: {
                        type:"number",
                        validation: {
                            min:1,
                            required: true,
                            mustBeABumber: function (price) {
                                var priceValue = price.val();
                                var regex = /^[0-9]+(.[0-9].*)?$/;
                                if (regex.test(priceValue)) {
                                    return true;
                                } else {
                                    Hap.showToast({
                                        type: "error",
                                        message: '<@spring.message "unitSellingPriceMustBeNumber"/>'
                                    });
                                    return false;
                                }
                            }
                        }
                    },
                },
                /*editable:function () {
                    //alert(viewModel.model.orderStatus)
                    //设置订单行在提交和审批状态下不能被修改
                    if (viewModel.model.orderStatus =="SUBMITED" || viewModel.model.orderStatus =="APPROVED"){
                        var lineTotal = viewModel.model.orderQuantity * viewModel.model.unitSellingPrice;
                        viewModel.model.set("lineTotal",lineTotal);
                        return false;
                    }
                    return true;
                }*/
            }
        }
    });


    $("#grid").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        navigatable: false,
        //selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },

        //显示列部分
        columns: [
            //行号
            {
                field: "lineNumber",
                title: '<@spring.message "order.lineNumber"/>',
                width: 100,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
            //物料编码
            {
                field: "itemCode",
                title: '<@spring.message "invinventoryitems.itemcode"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
                editor: function (container, options) {
                    $('<input name="' + options.field + '"/>').appendTo(container).kendoLov($.extend(${lovProvider.getLov(base.contextPath, base.locale, "HAP_INV_INVENTORY_ITEMS")}, {
                        model: options.model,
                        textField: 'itemCode',//文本域
                        select: function (e) {
                            options.model.set("itemDescription", e.item.itemDescription);
                            options.model.set("orderQuantityUom", e.item.itemUom);
                            options.model.set("itemCode", e.item.itemCode);
                            options.model.set("inventoryItemId", e.item.inventoryItemId);
                        },
                        change: function (e) {
                            if (e.sender._prev == null || e.sender._prev == '') {
                                options.model.set("itemDescription", "");
                                options.model.set("itemCode", "");
                                options.model.set("orderQuantityUom", "");
                                options.model.set("inventoryItemId", "");
                            }
                        }
                    }));
                },

            },

            //物料描述
            {
                field: "itemDescription",
                title: '<@spring.message "invinventoryitems.itemdescription"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style : "text-align: center"},
                editor:function (container,options) {
                    container.html(options.model.itemDescription);
                    container.removeClass('k-edit-cell');
                }
            },

            //产品单位
            {
                field: "orderQuantityUom",
                title: '<@spring.message "omorderlines.orderquantityuom"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style: "text-align: center"},
                editor:function (container,options) {
                    container.html(options.model.orderQuantityUom);
                    container.removeClass('k-edit-cell');
                }
            },

            //数量
            {
                field: "orderdQuantity",
                title: '<@spring.message "omorderlines.orderdquantity"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
                template: function (dataItem) {
                    var orderdQuantity = dataItem.orderdQuantity || 0;
                    var unitSellingPrice = dataItem.unitSellingPrice || 0;

                    if (Object.is(NaN, parseFloat(orderdQuantity)) || Object.is(NaN, parseFloat(unitSellingPrice))) {
                        dataItem.set("lineTotal", "");
                    } else {
                        var lt = parseFloat(unitSellingPrice) * parseFloat(orderdQuantity);
                        //保留两位小数
                        dataItem.set("lineTotal", lt.toFixed(2));
                    }
                    //修改数量后修改当前订单行金额
                    freshOrderTotal();
                    return orderdQuantity;
                }
            },
            //价格
            {
                field: "unitSellingPrice",
                title: '<@spring.message "omorderlines.unitsellingprice"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style : "text-align: center"
                },

                template: function (dataItem) {
                    //alert("dataItem:"+dataItem)
                    var orderdQuantity = dataItem.orderdQuantity || 0;
                    var unitSellingPrice = dataItem.unitSellingPrice || 0;
                    if (Object.is(NaN, parseFloat(orderdQuantity)) || Object.is(NaN, parseFloat(unitSellingPrice))) {
                        dataItem.set("lineTotal", "");
                    } else {
                        var sum = parseFloat(unitSellingPrice) * parseFloat(orderdQuantity);
                        dataItem.set("lineTotal", sum.toFixed(2));
                    }
                    //动态修改订单总金额
                    freshOrderTotal();
                    return unitSellingPrice;
                }
            },

            //订单行金额
            {
                field: "lineTotal",
                title: '<@spring.message "order.total"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style: "text-align: center"
                },
                editor: function (container, options) {
                    container.html(options.model.lineTotal);
                    container.removeClass('k-edit-cell');
                }
            },

            //备注
            {
                field: "description",
                title: '<@spring.message "order.otherInfo"/>',
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
        ],
        editable: true
    });


    //改变销售行订单金额后动态改变订单总金额
    freshOrderTotal = function () {
        var orderTotal = 0;
        for (var i = 0; i < dataSource.data().length; i++) {
            //获取订单行数据
            var line = dataSource.data()[i];

            //获取订单行的数量和价格
            var orderdQuantity = line.orderdQuantity || 0;
            var unitSellingPrice = line.unitSellingPrice || 0;
            orderTotal += orderdQuantity * unitSellingPrice;
        }
        //保留两位小数
        viewModel.model.set("orderTotal", orderTotal.toFixed(2));
    };


    /*其他选项卡内容*/
    $("#otherInfo").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        scrollable: true,
        //navigatable: false,
        selectable: 'multiple, rowbox',
        dataBound: function () {
            if (parent.autoResizeIframe) {
                parent.autoResizeIframe('${RequestParameters.functionCode!}')
            }
        },
        pageable: {
            pageSizes: [5, 10, 20, 50],
            refresh: true,
            buttonCount: 5
        },
        columns: [
            //行号
            {
                field: "lineNumber",
                title: '<@spring.message "order.lineNumber"/>',
                width: 40,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"}
            },
            {
                field: "addition1",
                title: '<@spring.message"oauth2clientdetails.additionalinformation"/>'+1,
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
            {
                field: "addition2",
                title: '<@spring.message"oauth2clientdetails.additionalinformation"/>'+2,
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
            {
                field: "addition3",
                title: '<@spring.message"oauth2clientdetails.additionalinformation"/>'+3,
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
            {
                field: "addition4",
                title: '<@spring.message"oauth2clientdetails.additionalinformation"/>'+4,
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
            {
                field: "addition5",
                title: '<@spring.message"oauth2clientdetails.additionalinformation"/>'+5,
                width: 120,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            }
        ],
        editable: true
    });
    /*alert($("table tbody tr:eq(1) td:eq(4)"))
    console.log($("table tbody tr:eq(1) td:eq(4)").text())*/

//必须在页面加载完成后设置按钮的状态
    //新建状态
    if (headerId == 0){
        //默认为当前日期,新建状态
        viewModel.model.set("orderDate", new Date());
        viewModel.model.set("orderStatus", "NEW");

        //设置按钮状态
        $("#approvalBtn").attr("disabled", "disabled");
        $("#rejectBtn").attr("disabled", "disabled");

        //订单编号 移除readonly
        $("#order_number_input").removeAttr("readonly");
    }else {
        //不为0就加载当前的headerId的订单头数据
        $.ajax({
            type: "POST",
            //查询订单头信息填充数据
            url: "${base.contextPath}/hap/om/order/headers/query",
            data: {headerId: headerId},
            success: function (result) {
                console.log(result);
                var row = result.rows[0] ||{};
                for (var i in row) {
                    viewModel.model.set(i, row[i]);
                }
                //赋值LOV数据(关键)
                $("#customer_name_input").data("kendoLov").text(row["customerName"]);
                $("#company_name_input").data("kendoLov").text(row["companyName"]);

                //改变按钮约定状态
                changeBtnStatus();
            }
        });
    }


    //根据订单状态改变按钮的权限
    //os = viewModel.model.orderStatus;
    //不定义方法无法识别状态
    changeBtnStatus = function () {
        //下面的状态判断需要根据数据库数据来
        if (viewModel.model.orderStatus =="NEW"){   //新建
            //alert("新建")

            $("#approvalBtn").attr("disabled", "disabled");
            $("#rejectBtn").attr("disabled", "disabled");

            $("#approvalBtn").removeAttr("onclick");
            $("#rejectBtn").removeAttr("onclick");


            //判断是否是销售员如果不是则提交按钮不可用
            /*if(submitObj==null){
                $("#submitBtn").attr("disabled", "disabled");
                $("#submitBtn").removeAttr("onclick");
            }*/


        }else if (viewModel.model.orderStatus =="SUBMITED"){ //已提交
            //订单头不可编辑
            //LOV禁用状态
            $("#company_name_input").data("kendoLov").enable(false);
            $("#customer_name_input").data("kendoLov").enable(false);

            //日期禁用
            $("#order_date_input").data("kendoDatePicker").readonly();

            //下拉列表禁用
            $("#order_status_input").data("kendoComboBox").enable(false);

            /*$("#grid").data("kendoGrid").setOptions({
                editable: false
            });*/

            //按钮权限
            $("#saveBtn").attr("disabled","disabled");
            $("#submitBtn").attr("disabled","disabled");
            $("#deleteBtn").attr("disabled","disabled");

            $("#saveBtn").removeAttr("onclick");
            $("#submitBtn").removeAttr("onclick");
            $("#deleteBtn").removeAttr("onclick");

            //alert(approveObj) //null
            //已提交状态判断是否是销售经理不是则审批不可用、拒绝不可用
            /*if(approveObj==null){
                $("#approvalBtn").attr("disabled", "disabled");
                $("#rejectBtn").attr("disabled", "disabled");
                $("#approvalBtn").removeAttr("onclick");
                $("#rejectBtn").removeAttr("onclick");
            }*/

        }else if (viewModel.model.orderStatus =="APPROVED") { //已审批
            //订单头不可编辑
            $("#company_name_input").data("kendoLov").enable(false);
            $("#customer_name_input").data("kendoLov").enable(false);

            //日期禁用
            $("#order_date_input").data("kendoDatePicker").readonly();

            //下拉列表禁用
            $("#order_status_input").data("kendoComboBox").enable(false);

            //按钮权限
            $("#saveBtn").attr("disabled","disabled");
            $("#submitBtn").attr("disabled","disabled");
            $("#approvalBtn").attr("disabled","disabled");
            $("#rejectBtn").attr("disabled","disabled");
            $("#deleteBtn").attr("disabled","disabled");

            $("#saveBtn").removeAttr("onclick");
            $("#submitBtn").removeAttr("onclick");
            $("#approvalBtn").removeAttr("onclick");
            $("#rejectBtn").removeAttr("onclick");
            $("#deleteBtn").removeAttr("onclick");

        }else if (viewModel.model.orderStatus =="REJECTED") {  //拒绝
            $("#approvalBtn").attr("disabled","disabled");
            $("#rejectBtn").attr("disabled","disabled");

            $("#approvalBtn").removeAttr("onclick");
            $("#rejectBtn").removeAttr("onclick");

        } else{
            alert("other")
        }
    }
    //alert(submitObj)
</script>



<!--设置PDF模板样式-->
<style type="text/css">
    /*重写字体解决乱码 覆盖框架内的
     * 位置:lib/kendoui/styles/fonts/DejaVu/DejaVuSans.ttf
    */
    @font-face {
        font-family: "DejaVuSans";
        src: url("${base.contextPath}/resources/fonts/DejaVuSans.ttf") format("truetype");
    }
    body {
        font-family: "DejaVuSans";
    }
    .k-widget {
        font-family: "DejaVuSans";
    }
    .page-template {
        /*position: absolute;*/
        width: 100%;
        height: 100%;
        top: 3px;
        padding-bottom: 20px;
        left: 0;
        color : rgb(0, 0, 0);
    }
    .page-template .pdftemp {
        position: absolute;
        top: 1px;
        padding-bottom: 10px;
        left: 30px;
        right: 30px;
        font-size: 10px;
    }

    #secondLine{
        padding-top: 20px;
        padding-bottom: 120px;
    }
</style>


<!-- PDF头模板 -->
<script type="x/kendo-template" id="page-template">
    <div class="page-template">
        <div class="pdftemp">
            <div style="margin-top: 1px">
                <h3 style="color: red">PDF打印</h3>
            </div>
            <div id="firstLine">
                <span class="col-sm-2"><@spring.message "omorderheaders.ordernumber"/>:</span>
                <input style="border-radius:10px;width: 120px" class="col-sm-2"  value="#: viewModel.model.orderNumber #" />

                <span class="col-sm-2" ><@spring.message "orgcompanys.companyname"/>:</span>
                <input style="border-radius:10px;" class="col-sm-2" value="#: viewModel.model.companyName #" />

                <span class="col-sm-2" ><@spring.message "arcustomers.customername"/>:</span>
                <input class="col-sm-2" style="border-radius:10px;" value="#: viewModel.model.customerName #" />
            </div>

            <div id="secondLine">
                <span class="col-sm-2" ><@spring.message "omorderheaders.orderdate"/>:</span>
                <input style="border-radius:10px;" class="col-sm-2" value="#: Hap.formatDate(viewModel.model.orderDate) #" />

                <span class="col-sm-2" ><@spring.message "order.total"/>:</span>
                <input style="border-radius:10px;" class="col-sm-2" value="#: viewModel.model.lineTotal #" />

                <span class="col-sm-2" ><@spring.message "omorderheaders.orderstatus"/>:</span>
                <input style="border-radius:10px;" class="col-sm-2" value="#: viewModel.model.orderStatus #" />
            </div>
            <div><h2>主要</h2></div>
        </div>
        <div >
        </div>
    </div>
</script>


<div>
    <!--PDF表格数据-->
    <div id="grid2"></div>
</div>
<script>
    //gird2数据做打印的PDF
    $("#grid2").hide();
    $("#grid2").kendoGrid({
        dataSource: dataSource,
        resizable: true,
        pdf: {
            allPages: false,
            paperSize: "A4",
            landscape: true,
            margin: {
                top: "4cm",
                right: "1cm",
                bottom: "2cm",
                left: "1cm"
            },
            template: $("#page-template").html()
        },
        columns: [
            //物料编码
            {
                field: "itemCode",
                title: '<@spring.message "invinventoryitems.itemcode"/>',
                width: 90,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
                template: function (dataItem) {
                    return dataItem['itemCode'] || '';
                },
            },

            //物料描述
            {
                field: "itemDescription",
                title: '<@spring.message "invinventoryitems.itemdescription"/>',
                width: 140,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
            //产品单位
            {
                field: "orderQuantityUom",
                title: '<@spring.message "omorderlines.orderquantityuom"/>',
                width: 80,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
            //数量
            {
                field: "orderdQuantity",
                title: '<@spring.message "omorderlines.orderdquantity"/>',
                width: 80,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },

            //销售单价
            {
                field: "unitSellingPrice",
                title: '<@spring.message "omorderlines.unitSellingPrice"/>',
                width: 80,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },

            //金额
            {
                field: "lineTotal",
                title: '<@spring.message "order.total"/>',
                width: 110,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },

            //物料描述
            {
                field: "description",
                title: '<@spring.message "invinventoryitems.itemdescription"/>',
                width: 100,
                attributes: {style: "text-align:center"},
                headerAttributes: {"class": "table-header-cell", style  : "text-align: center"},
            },
        ],
        editable:false,
    });
</script>
</body>
</html>